#app{
 align-self: center;
}

#table {
  background-color: rgb(136, 211, 225);
  border-style: solid;
}

#row{
  border-style: solid;
}

.cell{
  border-style: solid;
  width: 1cm;
  height: 1cm;
  text-align: center;
}

#new-game{

}
